.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}

.assignments {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    justify-content: center space-around;
    align-content: center;
}

h1 {
    margin-left: 1.7rem;
}

h2 {
    margin-left: 1rem;
}

